* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}
.logo{
  justify-self: start;
}
.header {
  background-color: #393f4d;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.menu ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  gap: 20px;
  padding: 10px;
}
.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2/4;
  display: grid;
  gap: 50px;
}
.side-content, .photo{
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-row: 2;
  grid-column: 2/-1;
}
.nav ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  background-color: #bccbde;
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto auto;
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/-1;
  grid-row: 4/7;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}